
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-cell mdl-cell--6-col">
        <br><br><br><br>
        <div id="home-page-container"></div>
        <br><br><br>
        <div class="statistic-container">
            <p align="center" class="statistic mdl-color-text--grey"></p>
        </div>
    </div>
</div>


<button title="Back to top" class="mdl-button mdl-js-button mdl-button--raised mdl-button--fab mdl-button--colored" id="scroll-top">
    <i class="material-icons">keyboard_arrow_up</i>
</button>
