<div id="home-page-container">

    <div class="mdl-grid fam-box">
        <div class="mdl-cell mdl-cell--12-col title">
            <br/><br/>
            <p align="center">
                <span>lbDi</span>
                <br/>
                <small class="mdl-color-text--grey-600">Welcome on library DECALOG interface</small>
                <br/><br/><br/>
                <span class="mdl-chip mdl-color--grey-200">
                    <span class="mdl-chip__text mdl-color-text--grey-600"><b>Hall of fame</b></span>
                </span>
            </p>
        </div>

        <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset">
            <div class="mdl-grid fams-grid"></div>
        </div>
    </div>

</div>
