<div id="home-page-container">
    <div class="mdl-grid searcher">
        <div class="mdl-cell mdl-cell--3-col"> </div>
        <div class="mdl-cell mdl-cell--6-col">
            <br><br><br><br><br><br>
            <div class="wide title">
                <p align="center">
                    <span>lbDi</span>
                    <br/><br/>
                    <small>Welcome on library DECALOG interface</small>
                </p>
            </div>
            <div class="mdl-card mdl-card mdl-shadow--4dp wide auto-height">
                <form class="no-margin">
                    <div class="mdl-textfield mdl-js-textfield wide">
                        <input class="mdl-textfield__input" autofocus type="text" id="text-search">
                        <label class="mdl-textfield__label" for="text-search">
                            <i class="material-icons">search</i>
                            Type what you are searching...
                        </label>
                        <button class="hide">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="mdl-grid results">
        <div class="mdl-cell mdl-cell--1-col"> </div>
        <div class="mdl-cell mdl-cell--10-col container">
            <div id="results">
                <br><br>
                <span class="result-statistic"></span>
                <br><br>
                <ul class="mdl-list"></ul>
            </div>
        </div>
    </div>
</div>
