{% extends "layout.html" %}

{% block content %}
<!-- LOGIN -->
<div class="wide" data-page="login">
{% include "login.html" %}
</div>

<!-- HOME -->
<div class="wide" data-page="home">
{% include "home.html" %}
</div>

<!-- SEARCH -->
<div class="wide" data-page="search">
{% include "search.html" %}
</div>

<!-- PRERELATION -->
<div class="wide" data-page="prerelation">
{% include "prerelation.html" %}
</div>

<!-- LOOKUP PAGE -->
<div class="wide" data-page="relation">
{% include "relation.html" %}
</div>

<!-- TABLE PAGE -->
<div class="wide" data-page="table">
{% include "table.html" %}
</div>

<!-- COLUMN PAGE -->
<div class="wide" data-page="column">
{% include "column.html" %}
</div>

{% endblock %}
ose a utility bill
{% block js %}
<script id="tmpl-value" type="x-tmpl-mustche">
    <li class=""> 
        <div>  
            <a href="/#<% tag %>/<% value %>" class="no-decoration label"> 
                 <% value %>
            </a> 
        </div>
        <div>
        <a href="/#<% tag %>/<% value %>" class="no-decoration link"> 
             <% url %>/#<% tag %>/<% value %> 
        </a> 
        </div>
        <div>
            <%#description%>
                <span class="long-text">
                    <% description %>
                </span>
            <%/description%>
        </div>
        <div>
            <%#user%>
                <span class="creator">
                    Created by <% user %> on <% time %>
                </span>
            <%/user%>
        </div>
    </li>
</script>

<script id="tmpl-fams" type="x-tmpl-mustache">
    <div class="mdl-cell mdl-cell--6-col">
        <div class="mdl-card mdl-shadow--2dp no-margin">
            <span class="user-detail">
                <% user.firstName %> <% user.lastName %><br/>
                <small><% record_date %></small>
            </span><br>
            <div>
                <i><% description %><i>
            </div>
        </div>
    </div>
</script>

<script src="{{ url_for('static', filename='js/relations.js') }}"></script>
<script src="{{ url_for('static', filename='js/page.home.js') }}"></script>
<script src="{{ url_for('static', filename='js/page.search.js') }}"></script>
<script src="{{ url_for('static', filename='js/page.prerelation.js') }}"></script>
<script src="{{ url_for('static', filename='js/page.relation.js') }}"></script>
<script src="{{ url_for('static', filename='js/page.login.js') }}"></script>
<script src="{{ url_for('static', filename='js/page.table.js') }}"></script>
<script src="{{ url_for('static', filename='js/page.column.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
