<div class="mdl-card mdl-shadow--2dp" id="container-auth">
    <div class="mdl-card__title mdl-color--indigo">
        <i class="material-icons">account_circle</i>
    </div>
    <div class="mdl-card__supporting-text" id="reset-password-form-container">
        <form method="POST" id="reset-password-form" class="no-margin">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input mdl-js-textfield " type="password" id="reset-password" name="reset-password">
                <label class="mdl-textfield__label" for="reset-password">New Password</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input mdl-js-textfield" type="password" id="confirm-password" autocomplete="off" name="confirm-password">
                <label class="mdl-textfield__label" for="confirm-password">Confirm new password</label>
            </div>
            <button type="submit" class="hide">connect</button>
        </form>
    </div>
    <div class="mdl-card__actions mdl-card--border" id="reset-password-btns-container">
        <button id="reset-password-btn" class="mdl-button mdl-js-button mdl-button--primary wide">Reset Password</button>
    </div>
</div>
